input {
touchpad {
	tap
	dwt
	natural-scroll
}

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 24
}

}

output "eDP-1" {
    scale 1
     mode "1920x1080"
    variable-refresh-rate on-demand=true
}

screenshot-path "/home/shaozaki/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
