
window-rule {
    geometry-corner-radius 18
    clip-to-geometry true
}
debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}

overview {
  workspace-shadow {
    off
  }
}
